body {
  /* font-family: Verdana; */
  color: #525252;
  padding: 10px;
}

code em {
  color: #EE3B3B;
}


/* pre {
  background-color: #ECF1EF;
}

code {
  font-family: Courier;
  color: #483D8B;
}


p {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  border: 1px solid #ECF1EF;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
} */
